{:paths ["src" "resources"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.1"}
         org.clojure/clojurescript {:mvn/version "1.10.773"}

         com.bhauman/figwheel-main {:mvn/version "0.2.9"}
         re-frame                  {:mvn/version "0.10.7"
                                    :exclusions  [reagent]}
         reagent                   {:mvn/version "1.0.0-alpha2"}
         metosin/reitit            {:mvn/version "0.5.2"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps  [binaryage/devtools              {:mvn/version "0.9.10"}
                               com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                               cider/piggieback                {:mvn/version "0.5.0"}]}}}
